{% extends "layout.html" %}
{% block content %}


<div class="container" style="min-height:100% width:80%">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      {{ message }}
      </div>
    {% endfor %}
    {% endif %}
  {% endwith %}
</div>


<div class="container">
  <br>
  <h3>Welcome</h3>
  <p>Hello and welcome to Foody! Please select the number of people present at your table.</p>
  
  <form method="post">
    {{ form.hidden_tag() }}
    {{ form.table_number.label }} {{ form.table_number() }}
    <br>
    {{ form.number_guests.label }} {{ form.number_guests() }}
    <br><br>
    {{ form.submit() }}
    <br><br>
  </form>

</div>


{% endblock content %}