{% extends "layout.html" %}
{% block content0 %}
<section id="hero2" class="d-flex align-items-center">
  <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100"  style="color:white">
    <div class="row">
      <div class="col-lg-8">
        <h1>Time to <span>Check-In</span></h1>
        <h2>Please tell us your table number so we can take your order.</h2>

        <form method="post">
          <font color="white">
          {{ form.hidden_tag() }}
          {{ form.table_number.label }} {{ form.table_number() }}
          <br><br>
          <div class="btns">
            <div class="btn-menu animated fadeInUp scrollto">
              <font color="white">
              <button type=submit class="btn btn-primary"><span style="color:white"> Submit </span></button>
              </font>
          </div>
          </font>
      </div>
    </div>
  </div>
</section>

{% endblock content0 %}