<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log out</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="static\BK.svg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Burger King
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="container" style="text-align:center;  ">
      <h1>We hope you enjoyed your meal.</h1>
      <br>
      <h4>We'd love to see you again soon! Please come by again any time you'd like.</h4>
      <br>
      <h4><em>Hugs and kisses from the whole Burger King team.</em></h4>
      <img src="https://thekpl.files.wordpress.com/2014/11/burger-king-team-win.jpg" alt="" width=512px height=340px>

      <p style="text-align:center"><a href={{ url_for("home") }}>Home</a> </p>
      
    </div>
  </body>
</html>