{% extends "layout.html" %}
{% block content0 %}

<div class="container" style="text-align:center; color:white; ">
  <h1>We hope you enjoyed your meal.</h1>
  <br>
  <h4>We'd love to see you again soon! Please come by again any time you'd like.</h4>
  <br>
  <h4><em>Hugs and kisses from the whole Foody team.</em></h4>
  <br>
  <img src="https://images.unsplash.com/photo-1512485800893-b08ec1ea59b1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D" alt="" width=512px height=340px>
<br><br><br><br><br><br><br><br><br>
</div>

{% endblock content0 %}