<!DOCTYPE html>
<html>


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Title -->
    {% if title %}
        <title>foody - {{ title }}</title>
    {% else %}
        <title>foody</title>
    {% endif %}

    <!-- Favicons TO DO -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href={{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/icofont/icofont.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/animate.css/animate.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/owl.carousel/assets/owl.carousel.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/venobox/venobox.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/aos/aos.css') }} rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>


<body>

{% if layout %}

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-phone"></i> +41 061 061 06 06
        <span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> Mon-Sat: 11:00 AM - 11:00 PM</span>
      </div>
      <div class="languages">
        <ul>
          <li>En</li>
          <li><a href="#">De</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">Foody</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->

      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href={{ url_for("home") }}>Home</a></li>
          <li><a href={{ url_for("about") }}>About</a></li>
          <li><a href={{ url_for("menu") }}>Menu</a></li>
          {% if current_user.is_authenticated %}
            {% if current_user.role == "admin" %}
              <li><a href={{ url_for("admin_page") }}>Admin Page</a></li>
            {% endif %}

            {% if current_user.role == "waiter" %}
              <li><a href={{ url_for("waiter_page") }}>Waiter Page</a></li>
            {% endif %}

              <li><a href={{ url_for("logout") }}>Logout</a></li>
          {% else %}

              <li><a href={{ url_for("admin_login") }}>Admin</a></li>
              <li><a href={{ url_for("waiter_login") }}>Waiter</a></li>
          {% endif %}
        </ul>
      </nav>
      <!-- .nav-menu -->

    </div>
  </header>
  <!-- End Header -->

{% else %}

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href={{ url_for("home") }}>Foody</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href={{ url_for("home") }}>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ url_for("menu") }}>Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Checkout</a>
      </li>
      {% if current_user.is_authenticated %}
        {% if current_user.role == "admin" %}
        <li class="nav-item">
          <a class="nav-link" href={{ url_for("admin_page") }}>Admin page</a>
        </li>
        {% endif %}

        {% if current_user.role == "waiter" %}
        <li class="nav-item">
          <a class="nav-link" href={{ url_for("waiter_page") }}>Waiter page</a>
        </li>
        {% endif %}

        <li class="nav-item">
          <a class="nav-link" href={{ url_for("logout") }}>Logout</a>
        </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href={{ url_for("admin_login") }}>Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href={{ url_for("waiter_login") }}>Waiter</a>
      </li>
      {% endif %}

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Developer links
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href={{ url_for("upload") }}>Upload</a>
          <a class="dropdown-item" href={{ url_for("table", table_number=1) }}>Table 1 Check-In</a>
          <a class="dropdown-item" href={{ url_for("overview") }}>Overview</a>
          <a class="dropdown-item" href={{ url_for("admin_login") }}>Admin Login</a>
          <a class="dropdown-item" href={{ url_for("waiter_login") }}>Waiter Login</a>
        </div>
      </li>

    </ul>
  </div>
  </nav>

{% endif %}
<div class="container" style="min-height:100% width:80%">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      {{ message }}
      </div>
    {% endfor %}
    {% endif %}
  {% endwith %}
</div>

  {% block content0 %}{% endblock %}

    <!-- Bootstrap Navigation Bar -->

    </header>
    <main role="main" class="container-fluid">
          {% block content %}{% endblock %}
    </main>


    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

    <!-- Vendor JS Files -->
    <script src={{ url_for('static', filename='vendor/jquery/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/jquery.easing/jquery.easing.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/php-email-form/validate.js') }}></script>
    <script src={{ url_for('static', filename='vendor/owl.carousel/owl.carousel.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/venobox/venobox.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/aos/aos.js') }}></script>

    <!-- Template Main JS File -->
    <script src={{ url_for('static', filename='js/main.js') }}></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
