<!DOCTYPE html>
<html>


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <!-- Title -->
    {% if title %}
        <title>foody - {{ title }}</title>
    {% else %}
        <title>foody</title>
    {% endif %}

    <!-- Favicons TO DO -->
    <link href=  {{ url_for('static', filename='img/favicon.png') }} rel="icon">
    <link href=  {{ url_for('static', filename='img/apple-touch-icon.png') }} rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href={{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/icofont/icofont.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/animate.css/animate.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/owl.carousel/assets/owl.carousel.min.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/venobox/venobox.css') }} rel="stylesheet">
    <link href={{ url_for('static', filename='vendor/aos/aos.css') }} rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- jQuery and JS bundle w/ Popper.js -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</head>


<body>
<body style="background-color:black;">

{% if layout %}

  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-phone"></i> +41 061 061 06 06
        <span class="d-none d-lg-inline-block"><i class="icofont-clock-time icofont-rotate-180"></i> Mon-Sat: 11:00 AM - 11:00 PM</span>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <a href={{ url_for("home") }} class="logo mr-auto"><img src={{ url_for('static', filename='img/apple-touch-icon.png') }} alt="" class="img-fluid">  </a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href={{ url_for("home") }}>Home</a></li>
          <li><a href={{ url_for("menu") }}>Menu</a></li>
          {% if current_user.is_authenticated %}
            {% if current_user.role == "admin" %}
              <li><a href={{ url_for("admin_page") }}>Admin Page</a></li>
            {% endif %}

            {% if current_user.role == "waiter" %}
              <li><a href={{ url_for("waiter_page") }}>Waiter Page</a></li>
            {% endif %}

              <li><a href={{ url_for("logout") }}>Logout</a></li>
          {% else %}

              <li><a href={{ url_for("admin_login") }}>Admin</a></li>
              <li><a href={{ url_for("waiter_login") }}>Waiter</a></li>
          {% endif %}
        </ul>
      </nav>
      <!-- .nav-menu -->

    </div>
  </header>
  <!-- End Header -->



{% else %}

  <!-- ======= Header ======= -->
  <div class="container">
    <br><br><br><br><br><br>
  </div>
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
      <a href={{ url_for("home") }} class="logo mr-auto"><img src={{ url_for('static', filename='img/apple-touch-icon.png') }} alt="" class="img-fluid">  </a>
      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href={{ url_for("home") }}>Home</a></li>
          <li><a href={{ url_for("menu") }}>Menu</a></li>
          {% if current_user.is_authenticated %}
            {% if current_user.role == "admin" %}
              <li><a href={{ url_for("admin_page") }}>Admin Page</a></li>
            {% endif %}

            {% if current_user.role == "waiter" %}
              <li><a href={{ url_for("waiter_page") }}>Waiter Page</a></li>
            {% endif %}

              <li><a href={{ url_for("logout") }}>Logout</a></li>
          {% endif %}
        </ul>
      </nav>
      <!-- .nav-menu -->

    </div>
  </header>
  <!-- End Header -->

{% endif %}
<div class="container" style="min-height:100% width:80%">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
      {{ message }}
      </div>
    {% endfor %}
    {% endif %}
  {% endwith %}
</div>

  {% block content0 %}{% endblock %}

    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Foody</h3>
              <p>
                Dufourstrasse 50 <br>
                9000 St. Gallen, Switzerland<br><br>
                <strong>Phone:</strong> +41 061 061 06 06<br>
                <strong>Email:</strong> info@foody.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href={{ url_for("home") }}>Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href={{ url_for("menu") }}>Menu</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href={{ url_for("admin_login") }}>Admin Login</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href={{ url_for("waiter_login") }}>Waiter Login</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href={{ url_for("checkin") }}>Checkin</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Be the first to hear about the latest foody updates!</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Bootstrap Template by Restaurantly</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/restaurantly-restaurant-template/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

    <!-- Bootstrap Navigation Bar -->

    </header>
    <main role="main" class="container-fluid">
          {% block content %}{% endblock %}
    </main>


    <div id="preloader"></div>
    <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

    <!-- Vendor JS Files -->
    <script src={{ url_for('static', filename='vendor/jquery/jquery.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/jquery.easing/jquery.easing.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/php-email-form/validate.js') }}></script>
    <script src={{ url_for('static', filename='vendor/owl.carousel/owl.carousel.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/venobox/venobox.min.js') }}></script>
    <script src={{ url_for('static', filename='vendor/aos/aos.js') }}></script>

    <!-- Template Main JS File -->
    <script src={{ url_for('static', filename='js/main.js') }}></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
