
{% extends "layout.html" %}
{% block content0 %}

<br>
<br>

<div class="container"  style="color:white">
  <h1>Welcome</h1>
  <br>
  <h5>Welcome, {{ current_user.full_name }}, to the overview of the tables.</h5>
  <br>
  <h2>Tables currently in use:</h2>
  <br>
</div>

<div class="container" style="width: 420px;margin-left: auto; margin-right: auto;">
  <table class="table table-striped table-bordered table-hover"  style="color:white; text-align:center;"  >
    <thead class="thead-dark">
      <tr>
        <th scope="col">Table number</th>
      </tr>
    </thead>
    <tbody>
      {% for index,row in df.iterrows() %}
      <tr>
        {% if row["client_is_gone"] != "yes" %}
          <th scope="row">{{ row["table_number"] }}</th>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock content0 %}