
{% extends "layout.html" %}
{% block content %}

<br>
<br>

<div class="container">
  <h1>Welcome</h1>
  <br>
  <h5>Welcome, User: ____ (needs to be configured) {{ admin_user }}, to the overview of the tables.</h5>
  <br>
  <h2>Tables</h2>
  <br>
</div>

<div class="container" style="width: 420px;margin-left: auto; margin-right: auto;">
  <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Table number</th>
        <th scope="col">Taken?</th>
        <th scope="col">Number of guests</th>
      </tr>
    </thead>
    <tbody>
      {% for index,row in df.iterrows() %}
      <tr>
        <th scope="row">{{ row["table_number"] }}</th>
        <td>{{ row["taken"] }}</td>
        <td>{{ row["number_guests"] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>


{% endblock content %}