<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Table reservation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="static\BK.png" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Burger King
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="container" style="min-height:100% width:80%">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
          <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
          {{ message }}
          </div>
        {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="container">
      <h1>Table nr. {{ table_number }}</h1>
      <br>
      <h3>Welcome</h3>
      <p>Hello and welcome to Burger King! Please select the number of people present at your table.</p>
      <form method="post">
        {{ form.hidden_tag() }}
        {{ form.number_guests.label }} {{ form.number_guests() }}
        <br><br>
        {{ form.submit() }}
        <br><br>
      </form>
    </div>
  </body>
</html>