

{% extends "layout.html" %}
{% block content %}
  <!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Menu</h2>
      <p>Check Our Tasty Menu</p>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-starter">Starters</li>
          <li data-filter=".filter-main">Mains</li>
          <li data-filter=".filter-dessert">Desserts</li>
        </ul>
      </div>
    </div>

{% for index, row in products_df.iterrows() %}

  <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
    <div class="col-lg-6 menu-item filter-{{row['ptype']}}">
      <img src={{ url_for("static", filename=row["pimage"]) }} class="menu-img" alt="">
      <div class="menu-content">
        <a href="#">{{ index+1 }}. {{ row['pname'] }} </a><span> {{ row['pprice'] }} </span>
      </div>
      <div class="menu-ingredients">
        Gluten Free: {{ row['pgluten_free'] }}, Vegetarian: {{ row['pvegetarian'] }}, Vegan: {{ row['pvegan'] }}
      </div>
    </div>
  </div>

{% endfor %}

<br>
    <p>Please enter your orders individually</p>
      <form  method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}

        {{ form.Food.label }} {{ form.Food() }}
        <br>
        {{ form.submit_button() }}

      </form>
=======
</section>
<!-- End Menu Section -->

{% endblock content %}
