{% extends "layout.html" %}
{% block content0 %}
  <!-- ======= Menu Section ======= -->
<section id="menu" class="menu section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Menu</h2>
      <p>Check Our Tasty Menu</p>
    </div>

    <br>

    <!-- End Menu Section -->

      <div id ="menu" class="container">
        <p style="color:white;">Please enter your orders individually</p>
          <form  method="post" style="color:white;" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            {{ form.Starters.label }} {{ form.Starters() }}
            {{ form.Main.label }} {{ form.Main() }}
            {{ form.Dessert.label }} {{ form.Dessert() }}
            <br> <br>
            {{ form.submit_button() }}
          </form>
      </div>

    <!-- End Menu Section -->

    <br>

    <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class="col-lg-12 d-flex justify-content-center">
        <ul id="menu-flters">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-starter">Starters</li>
          <li data-filter=".filter-main">Mains</li>
          <li data-filter=".filter-dessert">Desserts</li>
        </ul>
      </div>
    </div>

<div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

  {% for index, row in products_df.iterrows() %}
    <div class="col-lg-6 menu-item filter-{{row['ptype']}}">

      <img src={{ row["img_public_url"] }} class="menu-img" alt="">

      <div class="menu-content">
        <a style="color:white">{{ row['pname'] }} </a><span> ${{ row['pprice'] }} </span>
      </div>
      <div class="menu-ingredients">
        Gluten Free: {{ row['pgluten_free'] }}, Vegetarian: {{ row['pvegetarian'] }}, Vegan: {{ row['pvegan'] }}
      </div>
    </div>
  {% endfor %}
  </div>

<br>

</section>

{% endblock content0 %}
