

{% extends "layout.html" %}
{% block content %}

<br>
<br>

<div class="row">
  {% for index, row in products_df.iterrows() %}

  <div class="card" style="width: 18rem; margin-left: 20px;" >
    <img class="card-img-top" width="150px" src={{ url_for("static", filename=row["pimage"]) }} alt="Card image cap">
    <div class="card-body" >

    <div class="card">
      <h3>Product No. {{ index+1 }}:</h3>
      <p>{{ row['pname'] }}</p>
      <p>{{ row['pdescription'] }}</p>
      <p>{{ row['pprice'] }} CHF</p>

    </div>

  {% endfor %}
</div>


{% endblock content %}