{% extends "layout.html" %}
{% block content %}


<div class="container">


  <form  method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}

    {{ form.pname.label }} {{ form.pname() }}
    <br>
    {{ form.pdescription.label }} {{ form.pdescription() }}
    <br>
    {{ form.pprice.label }} {{ form.pprice() }}
    <br>
    {{ form.ptype.label }} {{ form.ptype() }}
    <br>
    {{ form.pgluten_free.label }} {{ form.pgluten_free() }}
    <br>
    {{ form.plactose_free.label }} {{ form.plactose_free() }}
    <br>
    {{ form.pvegetarian.label }} {{ form.pvegetarian() }}
    <br>
    {{ form.pvegan.label }} {{ form.pvegan() }}
    <br>
    {{ form.pimage() }}
    <br>
    {{ form.submit_button() }}
  </form>


</div>


{% endblock content %}