{% extends "layout.html" %}

{% block content0 %}
<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-left" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>Foody</span></h1>
          <h2>Your favorite restaurant's technology provider - powered by green energy and sustainable work conditions.</h2>

          <div class="btns">
            <a href="#menu" class="btn-menu animated fadeInUp scrollto">Our Menu</a>
            <a href="{{ url_for("checkin") }}" class="btn-menu animated fadeInUp scrollto">Check-In</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
            <div class="about-img">
              <img src=  {{ url_for('static', filename='img/about.jpg') }} alt="">
            </div>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" style="color:white">
            <h3>A project created by foodies, for foodies.</h3>
            <p class="font-italic">
              Our unique technology allows you to focus on what is important: the food and the customers, while we handle the boring administrative work.
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> Fully scalable cloud platform</li>
              <li><i class="icofont-check-circled"></i> White-labelled technology</li>
              <li><i class="icofont-check-circled"></i> Made with the customer in mind</li>
            </ul>
            <p>
              Let us take you on a journey into the future of restaurant experience.
            </p>
          </div>
        </div>

      </div>
    </section>
    <!-- End About Section -->

        <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us" style="background-color:black;">
      <div class="container" data-aos="fade-up" >

        <div class="section-title" >
          <h2>Why Us</h2>
          <p>Why Choose Our Restaurant</p>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <span>01</span>
              <h4>Cloud Platform</h4>
              <p>Platform that is fully integrated with Google Cloud allows for the perfect pricing, regardless of restaurant size.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <span>02</span>
              <h4>Regular Updates</h4>
              <p>With our team of dedicated developers, we continuously add new features on a regular basis.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span>03</span>
              <h4>State of the art technology</h4>
              <p>Using the newest, bleeding edge, technologies and APIs, your platform will always be state-of-the-art.</p>
            </div>
          </div>

        </div>

      </div>
    </section>
    <!-- End Why Us Section -->


    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Menu</h2>
          <p>Check Our Tasty Menu</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="menu-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-starter">Starters</li>
              <li data-filter=".filter-main">Mains</li>
              <li data-filter=".filter-dessert">Desserts</li>
            </ul>
          </div>
        </div>

        <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
          {% for index, row in products_df.iterrows() %}
            <div class="col-lg-6 menu-item filter-{{row['ptype']}}">
              <img src={{ url_for("static", filename=row["pimage"]) }} class="menu-img" alt="">
              <div class="menu-content">
                <a style="color:white">{{ row['pname'] }} </a><span> ${{ row['pprice'] }} </span>
              </div>
              <div class="menu-ingredients">
                Gluten Free: {{ row['pgluten_free'] }}, Vegetarian: {{ row['pvegetarian'] }}, Vegan: {{ row['pvegan'] }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
    <!-- End Menu Section -->

<!-- ======= Specials Section ======= -->
    <section id="specials" class="specials" style="background-color:black;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specials</h2>
          <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">The Avocado 🥑</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-2">Chocolate Cake 🍰</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-3">Pork Dumplings 🥟</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-4">Pancakes 🥞</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#tab-5">Pizza 🍕</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>The Avocado 🥑</h3>
                    <p class="font-italic">“I asked Jess if she wanted me to grab her some fries, but she only eats those bougie avocado's in mason jars from that hipster restaurant called Foody now.” - Customer's Husband</p>
                    <p>Our homegrown avocado's are the peak of the peak, the best of the best, the crême de la crême. After eating our avocado's which receive daily massages and our bathed in kombucha everyday, you will never want a store-bought avocado again.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src={{ url_for("static", filename="product_images/Avocado") }} alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Chocolate Cake 🍰</h3>
                    <p class="font-italic">"If you know you know, if you don't, then you probably can't afford to know." - Jess, 28</p>
                    <p>Our chocolate cake is so healthy, we even give you a pine branch and cranberries to go with it. Thanks to our secret formular, Foody offers the first ever: "0 Calorie, 0 Fat Chocolate Cake". Enjoy! </p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src={{ url_for("static", filename="product_images/Chocolate Cake") }} alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Pork Dumplings 🥟</h3>
                    <p class="font-italic"> "I love these guys. Truly I do. They are SO addictive."" - Karen, 28</p>
                    <p>Pork Dumplings so juicy, they don't require a description.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src={{ url_for("static", filename="product_images/Pork Dumplings") }} alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Pancakes 🥞</h3>
                    <p class="font-italic">"If iHOP and Pancake House had a baby, but on steroids." - Steve,23 </p>
                    <p>These bad boys are not for the weak of heart. But tread carefully, and these vegan sugarbombs will make you feel like dominating the world, one bite at a time.</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src={{ url_for("static", filename="product_images/Pancakes") }} alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Pizza 🍕</h3>
                    <p class="font-italic">"So good, it makes you involuntarily start speaking in rhymes". - Barack, 59</p>
                    <p>Only veggies and no meat, Hot, spicy and not sweet, Loaded top with ample green, Onions and tomatoes in between, Cover it with extra cheese. Can I have my pizza please?</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src={{ url_for("static", filename="product_images/Pizza") }} alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Specials Section -->

    <!-- ======= Book A Table Section ======= -->
    <section id="book-a-table" class="book-a-table" style="background-color:black;">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Reservation</h2>
          <p>Book a Table</p>
        </div>

        <form action="forms/book-a-table.php" method="post" role="form" class="php-email-form" data-aos="fade-up" data-aos-delay="100">
          <div class="form-row">
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" class="form-control" name="phone" id="phone" placeholder="Your Phone" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" name="date" class="form-control" id="date" placeholder="Date" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <input type="text" class="form-control" name="time" id="time" placeholder="Time" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
              <div class="validate"></div>
            </div>
            <div class="col-lg-4 col-md-6 form-group">
              <input type="number" class="form-control" name="people" id="people" placeholder="# of people" data-rule="minlen:1" data-msg="Please enter at least 1 chars">
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Message"></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your booking request was sent. We will call back or send an Email to confirm your reservation. Thank you!</div>
          </div>
          <div class="text-center"><button type="submit">Book a Table</button></div>
        </form>

      </div>
    </section>
    <!-- End Book A Table Section -->



{% endblock %}

{% block content %}

{% endblock content %}